.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.search__panel {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    width: 100%;
    @media screen and (max-width: 720px) {
        max-width: 100%;
    }
}

.search__button {
    border-radius: 20px;
    width: 30px;
    height: 30px;

    position: absolute;
    right: 3px;
    top: -3px;
    padding: 4px;
    margin: 0;
    &:hover {
        & svg {
            fill: #646cff;
        }
    }

    & svg {
        width: 15px;
        height: 15px;
        fill: white;
    }
}

label {
    position: relative;
}

.selects {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.select {
    width: 100%;
}
