:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  color: rgba(255, 255, 255, 0.87);
  background-color: #14141e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-card-bg: #1c2734;
  --color-font-secondary: #b5cfd7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all: unset;
  font-weight: 500;
  cursor: pointer;
}
html {
  overflow: auto;
  scrollbar-gutter: stable;
  min-height: 100vh;
}

body {
  margin: 0;
  width: 100%;
  padding: 0 10px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px;
  @media screen and (max-width: 720px) {
    padding: 5px;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-top: 5px;
  background-color: #414149;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  @media screen and (max-width: 1160px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 720px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input,
select {
  width: 100%;
  min-height: 30px;
  padding: 10px 20px;
  border-radius: 12px;
}

img {
  font-size: 0;
  border-radius: 0 12px 12px 0;
  position: relative;
  width: 128px;
  height: 187px;
  min-width: 128px;
  min-height: 187px;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}

img:after {
  z-index: 1000;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 187px;
  background:
    linear-gradient(-75deg, transparent 30%, #3b3b3b 50%, transparent 70%) 0 0 / 200% 100%,
    #100f0f;
  background-attachment: fixed;
  animation: skeleton infinite 2s linear;
}

@keyframes skeleton {
  0% {
    background-position: 0 200%;
  }
  100% {
    background-position: -200% 0;
  }
}
